<%- include('../partials/adminHeader.ejs') %>


    <%- include('../partials/adminAside.ejs') %>


        <script>
            // JavaScript code to trigger the button click on page load
            $(document).ready(function () {
                $('#createCouponModal2').modal('show');
            });
        </script>

        <section class="content-main">

            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Coupons List</h2>
                </div>
                <!-- Button to trigger the modal -->
                <div class="d-flex justify-content-end mt-3">
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#createCouponModal2">Create Coupon</button>
                </div>
                <div class="modal fade" id="createCouponModal2" tabindex="-1" role="dialog"
                    aria-labelledby="createCouponModalLabel2" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="createCouponModalLabel2">Edit Coupon</h5>

                            </div>
                            <div class="modal-body">
                                <form action="/admin/editCoupons" method="post"
                                    class="d-flex flex-wrap justify-content-between align-items-center"
                                    onsubmit="return validateForm()">
                                    <div class="form-group col-md-4">
                                        <label for="couponCode">Coupon Code:</label>
                                        <input type="text" class="form-control" id="couponCode" name="couponCode"
                                            required oninput="this.value = this.value.toUpperCase()"
                                            value="<%= couponDataToEdit.couponCode %>">
                                        <!-- converts the data writtn in any case to upper case -->
                                    </div>

                                    <input type="hidden" name="couponId" value="<%= couponDataToEdit._id %>">

                                    <div class="form-group col-md-4">
                                        <label for="discountPercentage">Discount Percentage:</label>
                                        <input type="number" class="form-control" id="discountPercentage"
                                            name="discountPercentage" value="<%= couponDataToEdit.discountPercentage %>"
                                            required>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label for="couponExpiry">Coupon Expiry:</label>
                                        <input type="date" class="form-control" id="couponExpiry" name="couponExpiry"
                                            value="<%= couponDataToEdit.couponExpiry.toISOString().split('T')[0] %>"
                                            required>
                                        <!-- date is obtained hgere -->
                                    </div>


                                    <div class="form-group col-md-4">
                                        <label for="minimumAmount">Minimum Amount To Use Coupon:</label>
                                        <input type="number" class="form-control" id="minimumAmount"
                                            name="minimumAmount" value="<%= couponDataToEdit.minimumAmount %>" required>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label for="maximumAmount">Maximum Discount Amount:</label>
                                        <input type="number" class="form-control" id="maximumAmount"
                                            name="maximumAmount" value="<%= couponDataToEdit.maximumAmount %>" required>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label for="maxUsesPerUser">Max Uses Per User:</label>
                                        <input type="number" class="form-control" id="maxUsesPerUser"
                                            name="maxUsesPerUser" value="<%= couponDataToEdit.maxUsesPerUser %>">
                                    </div>

                                    <div class="form-group col-md-4">
                                        <div class="form-check">
                                            <input type="checkbox" <% if (couponDataToEdit.isActive===true) { %>checked
                                            <% } %> class="form-check-input" id="isActive" name="isActive">
                                                <label class="form-check-label" for="isActive">Is Active</label>
                                        </div>
                                    </div>
                                    <div>
                                        <p id="validaionMessages" style="color: red;">

                                        </p>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Update Coupon</button>
                                </form>
                            </div>

                            <script>
                                // Function to perform custom validations before form submission
                                function validateForm() {
                                    var validationMessages = '';

                                    if (!$('#couponCode').val().trim()) {
                                        validationMessages += 'Coupon Code cannot be empty.';
                                    }

                                    if (!$('#discountPercentage').val().trim()) {
                                        validationMessages += 'Discount Percentage cannot be empty.';
                                    }
                                    if (!$('#minimumAmount').val().trim()) {
                                        validationMessages += 'Minimum amount cannot be empty.';
                                    }
                                    if (!$('#maximumAmount').val().trim()) {
                                        validationMessages += 'Minimum amount cannot be empty.';
                                    }
                                    if (!$('#maxUsesPerUser').val().trim()) {
                                        validationMessages += 'Maximum uses per user cannot be empty.';
                                    }

                                    if (parseInt($('#discountPercentage').val()) > 100) {
                                        validationMessages += 'Discount Percentage cannot be greater than 100.  ';
                                    }

                                    if (parseInt($('#minimumAmount').val()) < 1) {
                                        validationMessages += 'Minimum amount should be greater than 1. ';
                                    }

                                    if (parseInt($('#maximumAmount').val()) < 1) {
                                        validationMessages += 'Maximum amount should be greater than 1. ';
                                    }

                                    if (parseInt($('#maxUsesPerUser').val()) < 0) {
                                        validationMessages += 'Maximum uses per user should be greater than 1.  ';
                                    }

                                    if (validationMessages) {
                                        $('#validaionMessages').text(validationMessages);
                                        return false;
                                    } else {
                                        return true;
                                    }
                                }

                                $(document).ready(function () {
                                    $('form').submit(function () {
                                        return validateForm();
                                    });
                                });
                            </script>


                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
 
                        <% if (couponData && couponData.length> 0) { %>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Coupon Code</th>
                                            <th>Discount Percent</th>
                                            <th>Coupon Expiry</th>
                                            <th>Min Redeemable Amt</th>
                                            <th>Maximum Discount</th>
                                            <th>Max Uses Per User</th>
                                            <th>Is Active</th>
                                            <th>Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for (let i=0; i < couponData.length; i++) { %>
                                            <tr>
                                                <td>
                                                    <%= couponData[i].couponCode %>
                                                </td>
                                                <td>
                                                    <%= couponData[i].discountPercentage %>
                                                </td>
                                                <td>
                                                    <%= couponData[i].couponExpiry.toLocaleDateString() %>
                                                </td>
                                                <td>
                                                    <%= couponData[i].minimumAmount %>
                                                </td>
                                                <td>
                                                    <%= couponData[i].maximumAmount %>
                                                </td>
                                                <td>
                                                    <%= couponData[i].maxUsesPerUser %>
                                                </td>
                                                <td>
                                                    <%= couponData[i].isActive ? 'Yes' : 'No' %>
                                                </td>
                                                <td> <a href="/admin/editCoupons?couponId=<%=couponData[i]._id%>"><i
                                                            class="material-icons md-edit"></i></a> </td>
                                            </tr>
                                            <% } %>
                                    </tbody>
                                </table>
                            </div>
                            <% } else { %>
                                <p>No coupons available.</p>
                                <% } %>
                    </div>
                </header>
            </div>
 



        </section>
        <%- include('../partials/adminFooter.ejs') %>