<%- include('../partials/adminHeader.ejs') %>

 
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <%- include('../partials/adminAside.ejs') %>
 
        <section class="content-main">


            <div class="card mb-4">
                <div class="content-header" style="margin: 10px; ">
                 
                    <div class="row">
                     <div style="margin: 20px;">
                        <h3>
                           Category offers page
                        </h3>
                     </div>
               
                
                     <hr>

                        <div class="col-md-4">
                   
                            <img style="height: 200px; width: 300px;" src="/<%= categoriesData.categoryImage %>" alt=""
                                class="img-fluid">
                        </div>
                        <div class="col-md-8">
                            <h2 class="content-title card-title">
                                <%= categoriesData.categoryName %>
                            </h2>
                            <h5>Country: <%= categoriesData.country %>
                            </h5>
                            
                            <h5>Category Status:
                                <% if (categoriesData.isActive === true) { %>
                                    <span class="badge rounded-pill alert-success">Active</span>
                                <% } else { %>
                                    <span class="badge rounded-pill alert-danger">Inactive</span>
                                <% } %>
                            </h5>
                            <h5>Category Offer Status:
                                <% if (categoriesData.isCategoryOfferActive === true) { %>
                                    <span class="badge rounded-pill alert-success">Active</span>
                                <% } else { %>
                                    <span class="badge rounded-pill alert-danger">Inactive</span>
                                <% } %>
                            </h5>
                           
                            <div id="errorMessage"
                                style="color: red; margin: 20px; font-style: italic; font-size: 25px;">
                                <% if(message && typeof message !=='undefined' ){ %>
                                    <%= message %>
                                        <% } %>
                            </div>

                            <script>

                                function clearErrorMessage() {
                                    var errorMessageDiv = document.getElementById('errorMessage');
                                    if (errorMessageDiv) {
                                        setTimeout(function () {
                                            errorMessageDiv.innerHTML = '';
                                        }, 3000);
                                    }
                                }

                             
                                window.onload = clearErrorMessage;
                            </script>


                        </div>
                    </div>
                </div>
                <div class="card-body">



                    <% if (categoriesData.categoryOfferPercentage ) { %>
                        <hr>
                        <hr>

                        <div class="row">

                            <div class="col-md-8">
                                <h2 class="content-title card-title">
                                    Current Offer:
                                </h2>
                                <h5>Category Discount Percentage : <%= categoriesData.categoryOfferPercentage %> 
                                </h5>
                                <h5>Category Discount Expiry Date : <%= categoriesData.categoryOfferExpiryDate %></h5>
                                </h5>

                                <% if (categoriesData.isCategoryOfferActive === true) { %>
                                    <h1><a href="#" onclick="confirmBlock('<%= categoriesData._id %>')">
                                            <button class="btn btn-sm btn-danger rounded font-sm">Block Offer</button>
                                        </a></h1>
                                    <% } else { %>
                                        <h1> <a href="#" onclick="confirmUnblock('<%= categoriesData._id %>')">
                                                <button class="btn btn-sm btn-success rounded font-sm ml-2">Unblock
                                                    Offer</button>
                                            </a></h1>
                                        <% } %>

                            </div>

               

                            <div class="col-md-4">
                                <h5>Current offer image banner:</h5>
                                <img  src="/<%= categoriesData.categoryOfferImages %>" alt="" class="img-fluid">
                                
                            </div>
                        </div>

                        <% } %>
                            <hr>
                            <hr>
                            <div>
                                <% if (categoriesData.isCategoryOfferActive) { %>
                                    <h2>Update existing offer</h2>
                                    <% } else { %>
                                        <h2>Add new offer</h2>
                                        <% } %>
                                        <form action="/admin/editCategoryOffers" method="post" enctype="multipart/form-data">
                                                <input type="hidden" name="categoryId" value="<%= categoriesData._id %>">

                                                <div style="margin-bottom: 20px;">
                                                    <label for="categoryOfferPercentage">Enter the category offer percentage:</label>
                                                    <input type="string" name="categoryOfferPercentage" required>
                                                </div>

                                                <div style="margin-bottom: 20px;">
                                                    <label for="categoryOfferExpiryDate">Enter the category offer expiry
                                                        date:</label>
                                                    <input type="date" name="categoryOfferExpiryDate" required>
                                                </div>

                                                <div style="margin-bottom: 20px;">
                                                    <label>Make the offer active:</label>
                                                    <label for="isCategoryOfferActiveYes">Yes</label>
                                                    <input type="radio" name="isCategoryOfferActive" id="isCategoryOfferActiveYes" value="yes"
                                                        required>
                                                    <label for="isCategoryOfferActiveNo">No</label>
                                                    <input type="radio" name="isCategoryOfferActive" id="isCategoryOfferActiveNo" value="no"
                                                        required>
                                                </div>
                 


                                                <div style="margin-bottom: 20px;">
                                                    <label for="categoryOfferImage">Add an image to display this offer:</label>
                                                    <input type="file" name="categoryOfferImages" id="categoryOfferImages" accept="image/*"
                                                        required>
                                                </div>
                

                                                <div>
                                                    <input type="submit" class="btn"
                                                        style="background-color: blue; color: #fefefe;" value="Submit">
                                                </div>
                                            </form>
                            </div>
                </div>  
            </div>  
        </section>  
 
    <script>
        function confirmBlock(categoriesDataId) {
            Swal.fire({
                title: 'Are you sure?',
                text: 'You are about to block this category offer.',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, block it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "/admin/blockCategoriesOffers?_id=" + categoriesDataId;
                }
            });
        }
        
        function confirmUnblock(categoriesDataId) {
            Swal.fire({
                title: 'Are you sure?',
                text: 'You are about to unblock this category offer.',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#28a745',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, unblock it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "/admin/unblockCategoriesOffers?_id=" + categoriesDataId;
                }
            });
        }
    </script>
        <%- include('../partials/adminFooter.ejs') %>