<%- include('../partials/adminHeader.ejs') %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <%- include('../partials/adminAside.ejs') %>

        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Products List</h2>
                    <p>List of all the products in the system.</p>
                </div>
                <div>

                    <a href="/admin/addProducts" class="btn btn-primary btn-sm rounded">Create new</a>
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row align-items-center">

                        <form id="productFilterForm" action="/admin/productList" method="get">
                            <div class="row">
                                <div class="col-md-4 col-12 mb-md-0 mb-3">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search term"
                                            name="productsListSearch"
                                            value="<%= productsListSearch ? productsListSearch : '' %>">
                                    </div>
                                </div>
                                <!-- Choosing categories -->
                                <div class="col-md-3 col-12 mb-md-0 mb-3">
                                    <div class="input-group">
                                        <select class="form-select" name="productsListSearchSelect">
                                            <option value="">All categories</option>
                                            <% for (let j=0; j < categoriesData.length; j++) { %>
                                                <option value="<%= categoriesData[j].categoryName %>" <% if
                                                    (categoriesData[j].categoryName===selectedCategory) { %> selected <%
                                                        } %>>
                                                        <%= categoriesData[j].categoryName %>
                                                </option>
                                                <% } %>
                                        </select>
                                    </div>
                                </div>

                                <!-- Choosing blocked or unblocked -->
                                <div class="col-md-2 col-12">
                                    <div class="input-group">
                                        <select class="form-select" name="statusFilter">
                                            <option value="" <% if (statusFilter==='' ) { %> selected <% } %>>Show state
                                            </option>
                                            <option value="Active" <% if (statusFilter==='Active' ) { %> selected <% }
                                                    %>>Active</option>
                                            <option value="Blocked" <% if (statusFilter==='Blocked' ) { %> selected <% }
                                                    %>>Blocked</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Search button moved to the last column -->
                                <div class="col-md-1 col-12">
                                    <button type="submit" class="btn btn-light bg">
                                        <i class="material-icons md-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>



                </header> <!-- card-header end// -->
                <!-- Mobile View -->
                <div class="card-body">
                    <% if (productsData && productsData.length> 0) { %>
                        <% for (let i=0; i < productsData.length; i++) { %>
                            <% const product=productsData[i] %>
                                <div class="card mb-3">
                                    <div class="card-body">


                                        <div class="row mt-2">
                                            <div class="col-12 col-md-4">
                                                <% if (product.image && product.image.length> 0) { %>
                                                    <img class="d-block w-100"
                                                        style="max-width: 250px; max-height: 250px; object-fit: contain;"
                                                        src="/<%= product.image[0] %>" alt="Product Image">
                                                    <% } %>
                                            </div>
                                            <div class="col-12 col-md-8">
                                                <h6 class="mb-0 title">
                                                    Product: <%= product.productName %>
                                                </h6>
                                                <small class="text-muted">Product ID: <%= product._id %></small>
                                                <p>Stocks :
                                                    <% if (product.quantity <=0) { %>
                                                        <span style="color: red;"> Out of Stock</span>
                                                        <% } else { %>
                                                            <%= product.quantity %> in stock
                                                                <% } %>
                                                </p>
                                                <p>Category: <%= product.category %>
                                                </p>
                                                <p>Submodel: <%= product.submodel %>
                                                </p>
                                                <p>Sale Price: &#8377; <%= product.salesPrice %>
                                                </p>
                                                <p>
                                                    Product Status:
                                                    <% if (product.isActive===true) { %>
                                                        <span class="badge rounded-pill alert-success">Active</span>
                                                        <% } else { %>
                                                            <span
                                                                class="badge rounded-pill alert-danger">Inactive</span>
                                                            <% } %>
                                                </p>
                                                <div class="col-12 col-md-6">

                                                    <% if (product.isActive===true) { %>
                                                        <a href="#" onclick="confirmBlock('<%= product._id %>')"
                                                            class="btn btn-danger btn-sm rounded font-sm"
                                                            style="min-width: 100px; padding: 10px;">Block</a>
                                                        <% } else { %>
                                                            <a href="#" onclick="confirmUnblock('<%= product._id %>')"
                                                                class="btn btn-success btn-sm rounded font-sm"
                                                                style="min-width: 100px; padding: 10px;">Unblock</a>
                                                            <% } %>

                                                                <a href="/admin/editProductPage?_id=<%=product._id %>"
                                                                    class="btn btn-primary btn-sm rounded font-sm"
                                                                    style="min-width: 100px;">Edit</a>


                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <% } %>
                                    <% } else { %>
                                        <div class="card mb-3">
                                            <div class="card-body">
                                                <p class="text-center">No products found in the system.</p>
                                            </div>
                                        </div>
                                        <% } %>
                </div>

            </div>

            <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <% for (let j=1; j <=productsListPagesTotalPages; j++) { %>
                            <li class="page-item">
                                <a class="page-link"
                                    href="?productsListPage=<%= j %>&productsListSearch=<%= encodeURIComponent(productsListSearch) %>&productsListSearchSelect=<%= encodeURIComponent(selectedCategory) %>&statusFilter=<%= encodeURIComponent(statusFilter) %>">
                                    <%= j %>
                                </a>
                            </li>
                            <% } %>
                    </ul>
                </nav>

            </div>
        </section>


        <script>
            function confirmBlock(productId) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: 'You are about to block this product.',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Yes, block it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = "/admin/blockProducts?_id=" + productId;
                    }
                });
            }

            function confirmUnblock(productId) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: 'You are about to unblock this product.',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#28a745',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Yes, unblock it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = "/admin/unblockProducts?_id=" + productId;
                    }
                });
            }
        </script>
        <%- include('../partials/adminFooter.ejs') %>