<%- include('../partials/userHeader.ejs') %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

  <%- include('../partials/pageTopPanel.ejs') %>


    <div class="page-header breadcrumb-wrap">
      <div class="container">
        <div class="breadcrumb" style="color: rgb(0, 0, 0);">
          <a href="/" rel="nofollow" style="color: rgb(0, 0, 0);">Home</a>
          <span></span> Log in
        </div>

      </div>

      <section class="pt-100 pb-150 d-flex justify-content-center">
        <div class="container">
          <div class="row">
            <div class="m-auto d-flex justify-content-center">
              <div class="row d-flex col-lg-5 justify-content-center">
                <div class="col-lg-12">
                  <div
                    class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5  border-4">

                    <div class="logo-container" style="text-align: center;">
                      <a href="/">
                        <img src="/logo.jpg" style="width: 100px; margin-bottom: 10px;" class="logo"
                          alt="Zigma Smartwatches Dashboard">
                      </a>
                    </div>
                    <div class="heading_s1">
                      <h3 class="mb-30">Login Here</h3>
                    </div>
                    <form method="post">
                      <div class="form-group">
                          <input type="text" required name="data" placeholder="User name">
                      </div>
                      <div class="form-group">
                          <input required type="password" id="password" name="password" placeholder="Password">
                          <div>
                          <label for="checkbox" style="float: right;"><small >View Password</small></label>
                          <input type="checkbox" id="checkbox" style="width: 0px; float: right;" >
                          </div>
                      </div>
                      <div class="login_footer form-group">
                          <a class="text-muted" href="/forget">Forgot password?</a>
                      </div>
                      <div class="login_footer form-group">
                          <a class="text-muted" href="/register">Sign up</a>
                      </div>
                  
                      <script>
                          var checkbox = document.getElementById("checkbox");
                          var password = document.getElementById("password");
                  
                          checkbox.onclick = function() {
                              togglePassword(password);
                          };
                  
                          function togglePassword(passwordInput) {
                              if (checkbox.checked) {
                                  passwordInput.type = "text";
                              } else {
                                  passwordInput.type = "password";
                              }
                          }
                      </script>
                  
                      <div class="form-group">
                          <button type="submit" class="btn btn-fill-out btn-block hover-up" name="login">Log in</button>
                      </div>
                  </form>
                  
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-1"></div>
          </div>
        </div>
    </div>
    </div>
    </section>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
      <% if (typeof message !== 'undefined') { %>
          Swal.fire({
            icon: '<%= message.type || "info" %>',
            title: '<%= message.title || "Alert" %>',
            text: "<%= message.text %>",
            timer: 3000,
          });
      <% } %>
    });
    </script>

    <%- include('../partials/userAboveFooterPanel.ejs') %>
      <%- include('../partials/userFooter.ejs') %>