<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->

<head>
    <meta charset="utf-8">
    <title>Zigma Smartwatches</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/logo.jpg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/maind134.css?v=3.4">


    <!-- toaster  -->

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

</head>

<body>


    <header class="header-area header-style-2 header-height-2">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info">
                            <ul>
                                <li><i class="fi-rs-smartphone"></i> <a href="/contactPage">(+01) - 12345 - 6789</a>
                                </li>
                                <li><i class="fi-rs-marker"></i><a href="/contactPage">Our location</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        <div class="text-center">
                            <div id="news-flash" class="d-inline-block">
                                <ul>
                                    <li>Get great smart watches up to 30% off <a
                                            href="/shop?categoryName=All Brands">View details</a></li>
                                    <li>Supper Value Deals - Save more with coupons</li>
                                    <li>Trendy apple smart watches, save up 35% off today<a
                                            href="/shop?categoryName=Apple">Shop now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info header-info-right">
                            <ul>
                                <% if (username && typeof username !=='undefined' ) { %>
                                    <li><a href="/accountPage"><i class="fi-rs-user"></i>
                                            <%= username %>
                                        </a></li>

                                        <li>
                                            <a href="" onclick="logoutHandler()"><span style="color: red;"><i
                                                class="fi-rs-sign-out mr-10"></i>Logout</span></a>
                                        </li>
                                        
                                    <% } else { %>
                                        <li><i class="fi-rs-user"></i><a href="/login">Log In</a></li>
                                        <br>
                                        <li><i class="fi-rs-user"></i><a href="/register">Sign Up</a></li>
                                        <% } %>

                                        <script>
                                            function logoutHandler() {
                                                fetch('/logout', {
                                                    method: 'GET',
                                                })
                                                .then(response => response.json())
                                                .then(data => {
                                                    if (data.message === 'Logged out successfully') {
                                                        showToast(data.message, 'success');
                                                        
                                                        window.location.href = '/';
                                                    } else {
                                                        showToast(data.message, 'error');
                                                    }
                                                })
                                                .catch(error => {
                                                    console.error('Logout error:', error);
                                                    showToast('An unexpected error occurred', 'error');
                                                });
                                            }
                                        
                                            function showToast(message, type) {
                                                Toastify({
                                                    text: message,
                                                    duration: 3000,
                                                    close: true,
                                                    gravity: 'top',  
                                                    position: 'right',  
                                                    backgroundColor: type === 'success' ? 'red' : 'red', 
                                                }).showToast();
                                            }
                                        </script>
                                        
                                        
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="/"><img src="assets/imgs/theme/logo.jpg" alt="logo"></a>
                    </div>
                    <div class="header-right">
                        <div class="search-style-2">
                            <form action="/loginHome" method="get">

                                <input type="text" placeholder="Search for items..." name="loggedInHomePageSearch">
                                <button class="btn">Search</button>
                            </form>

                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <div>
                                        <a href="/wishlist">
                                            <img style="width: 25px;" class="svgInject" alt="Zigma Smartwatches"
                                                src="assets/imgs/theme/icons/icon-heart.svg">
                                            <p style="margin-left: -10px ;">Wishlist
                                            </p>
                                        </a>
                                    </div>
                                </div>
                                <div class="header-action-icon-2">
                                    <div>
                                        <a class="mini-cart-icon" href="/cart">
                                            <img style="width: 25px;" alt="Zigma Smartwatches"
                                                src="assets/imgs/theme/icons/icon-cart.svg">
                                            <p>Cart</p>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-bottom header-bottom-bg-color sticky-bar ">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="/"><img src="assets/imgs/theme/logo.jpg" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">

                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block"
                            style="text-align: center;">
                            <nav>
                                <ul style="display: inline-block; padding: 0; margin: 0;">
                                    <li> </li>
                                    <li> </li>
                                    <li> </li>
                                    <li> </li>
                                    <li> </li>
                                    <li> </li>
                                    <li><a class="active" href="/">Home </a></li>
                                    <li><a href="/shop?categoryName=All Brands">All Products</a></li>
                                    <li><a href="/brands">All Brands</a></li>
                                    <li><a href="/aboutPage">About</a></li>
                                    <li><a href="/blogCategoryFullwidth">Blog</a></li>
                                    <li><a href="/blogPostFullwidth">Latest Buzz</a></li>
                                    <li><a href="/contactpage">Contact</a></li>
                                    <li><a href="/accountpage">My Account</a></li>
                                </ul>
                            </nav>
                        </div>



                    </div>


                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/wishlist">
                                    <img style="width: 25px;" class="svgInject" alt="Zigma Smartwatches"
                                        src="assets/imgs/theme/icons/icon-heart.svg">
                                    <p style="margin-left: -10px ;">Wishlist</p>
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="/cart">
                                    <img style="width: 25px;" alt="Zigma Smartwatches"
                                        src="assets/imgs/theme/icons/icon-cart.svg">
                                    <p>Cart</p>
                                </a>
                            </div>
                            <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <style>
                        .header-action-2 {
                            display: flex;
                            align-items: center;
                        }

                        .header-action-icon-2 {
                            margin-right: 20px;
                        }
                    </style>

                </div>
            </div>
        </div>
    </header>

    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="/"><img src="assets/imgs/theme/logo.jpg" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="/loginHome" method="get">

                        <input type="text" placeholder="Search for items..." name="loggedInHomePageSearch">
                        <button class="btn">Search</button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">

                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li><a class="active" href="/">Home </a></li>
                            <li><a href="/shop?categoryName=All Brands">All Products</a></li><!-- shop page link -->
                            <li><a href="/brands">All Brands</a></li>
                            <li><a href="/aboutPage">About</a></li>
                            <li><a href="/blogCategoryFullwidth">Blog</a></li>
                            <li><a href="/blogPostFullwidth">Latest Buzz</a></li>
                            <li><a href="/contactpage">Contact</a></li>
                            <li><a href="/accountpage">My Account</a></li>
                            <li>
                                <a href="" onclick="logoutHandler()"><span style="color: red;"><i
                                    class="fi-rs-sign-out mr-10"></i>Logout</span></a>
                            </li>
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    <div class="single-mobile-header-info mt-30">
                        <a href="/contactPage"> Our location </a>
                    </div>

                    <div>
                        <% if (username && typeof username !=='undefined' ) { %>
                            <a href="/accountPage"><i class="fi-rs-user"></i>
                                <%= username %>
                            </a>
                            <br>
                           
                            <% } else { %>
                                <i class="fi-rs-user"></i><a href="/login">Log In</a>
                                <br>
                                <i class="fi-rs-user"></i><a href="/register">Sign Up</a>
                                <% } %>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="">(+01) - 2345 - 6789 </a>
                    </div>
                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href=""><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                    <a href=""><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                    <a href=""><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                    <a href=""><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                    <a href=""><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>

    <main class="main" style="margin-top: 20px;">
        
        <section class="home-slider position-relative">

            <% if (b1Landscape && b1Landscape.length > 0) { %>
                <div class="hero-slider-1 style-2 dot-style-1 dot-style-1-position-1 landscape-view"
                    style="height: 700px; margin-top: 10px;">
                    <% for (let i=0; i < b1Landscape.length; i++) { %>
                        <div class="single-hero-slider single-animation-wrap">
                            <div class="container" style="height: 700px;">
                                <div class="slider-1-height-2 slider-animated-1">
                                    <div class="hero-slider-content-2"
                                        style="background-image: url('/<%=b1Landscape[i].bannerImages %>'); background-size: cover; height: 600px; border-radius: 20px">
                                        <h4 class="animated" style="color: white;">
                                            <%=b1Landscape[i].bannerText1 %>
                                        </h4>
                                        <h3 class="animated fw-900 " style="color: rgb(255, 0, 0)">
                                            <%=b1Landscape[i].bannerText2 %>
                                        </h3>
                                        <h3 class="animated fw-900" style="color: white;">
                                            <%=b1Landscape[i].bannerText3 %>
                                        </h3>
                                        <h5 class="animated" style="color: rgb(255, 255, 255)">
                                            <%=b1Landscape[i].bannerText4 %>
                                        </h5>
                                        <br>
                                        <a class="animated btn btn-brush btn-brush-3"
                                            style="font-weight: 900;  color: rgb(255, 255, 255)" href="/shop?categoryName=All Brands"> Shop Now </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            <% } %>
        
            <% if (b1Portrait && b1Portrait.length > 0) { %>
                <div class="hero-slider-1 style-2 dot-style-1 dot-style-1-position-1 portrait-view"
                    style="height: 700px; display: none;">
                    <% for (let i=0; i < b1Portrait.length; i++) { %>
                        <div class="single-hero-slider single-animation-wrap">
                            <div class="container" style="height: 700px;">
                                <div class="slider-1-height-2 slider-animated-1">
                                    <div class="hero-slider-content-2"
                                        style="background-image: url('/<%=b1Portrait[i].bannerImages %>'); background-size: cover; height: 600px; border-radius: 20px">
                                        <h4 class="animated" style="color: white;">
                                            <%=b1Portrait[i].bannerText1 %>
                                        </h4>
                                        <h3 class="animated fw-900 " style="color: rgb(255, 0, 0)">
                                            <%=b1Portrait[i].bannerText2 %>
                                        </h3>
                                        <h3 class="animated fw-900" style="color: white;">
                                            <%=b1Portrait[i].bannerText3 %>
                                        </h3>
                                        <h5 class="animated" style="color: rgb(255, 255, 255)">
                                            <%=b1Portrait[i].bannerText4 %>
                                        </h5>
                                        <br>
                                        <a class="animated btn btn-brush btn-brush-3"
                                            style="font-weight: 900;  color: rgb(255, 255, 255)" href="/shop?categoryName=All Brands"> Shop Now </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            <% } %>
        
            <!-- <style>
                @media (min-width: 768px) {
                    .landscape-view {
                        display: block;
                    }
        
                    .portrait-view {
                        display: none;
                    }
                }
        
                @media (max-width: 767px) {
                    .landscape-view {
                        display: none;
                    }
        
                    .portrait-view {
                        display: block;
                    }
                }
            </style> -->
        
            <div class="slider-arrow hero-slider-1-arrow"></div>
        </section>
        
        <script>

            window.addEventListener('resize', function () {
                if (window.innerWidth >= 768) {
                    // Display landscape view
                    document.querySelector('.landscape-view').style.display = 'block';
                    document.querySelector('.portrait-view').style.display = 'none';
                } else {
                    // Display portrait view
                    document.querySelector('.landscape-view').style.display = 'none';
                    document.querySelector('.portrait-view').style.display = 'block';
                }
            });
         
            window.dispatchEvent(new Event('resize'));
        </script>


        <section class="banners mb-20">
            <div class="container">
                <div class="row">
                    <% if (categoriesOffersData && categoriesOffersData.length> 0) { %>
                        <% for (let i=0; i < categoriesOffersData.length; i++) { %>
                            <div class="col-lg-4 col-md-6">
                                <div class="banner-img wow fadeIn animated">
                                    <img src="<%= categoriesOffersData[i].categoryOfferImages %>"
                                        style="border-radius: 20px;" alt="">
                                    <div class="banner-text">
                                        <span style="color: rgb(218, 204, 204);">Smart Offer</span>
                                        <a href="/shop?categoryName=<%= categoriesOffersData[i].categoryName %>">
                                            <h4 style="color: white;">Save <%=
                                                    categoriesOffersData[i].categoryOfferPercentage %>% on <br>
                                                    <%= categoriesOffersData[i].categoryName %> products </h4>
                                        </a>
                                        <a style="color: rgb(255, 255, 255);"
                                            href="/shop?categoryName=<%= categoriesOffersData[i].categoryName %>">Shop
                                            Now <i class="fi-rs-arrow-right"></i></a>
                                        <br> <small style="color: white; font-size: 10px;">Offer ends in </small>

                                        <p class="deals-countdown"
                                            data-countdown="<%= categoriesOffersData[i].categoryOfferExpiryDate.toLocaleString()  %>">
                                        </p>


                                    </div>
                                </div>
                            </div>
                            <% } %>

                                <% } %>
                </div>
            </div>
        </section>
        <section class="product-tabs pt-25 pb-20 wow fadeIn animated">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="widget-category mb-30 d-none d-lg-block">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                            <ul class="categories">
                                <% if (categoriesData && typeof categoriesData !=='undefined' ) { %>
                                    <li> <a href="/shop?categoryName=All Brands">All
                                            Brands</a></li>
                                    <% for (let i=0; i < categoriesData.length; i++) { %>
                                        <li> <a href="/shop?categoryName=<%= categoriesData[i].categoryName %>">
                                                <%= categoriesData[i].categoryName %>
                                            </a></li>
                                        <% } %>
                                            <% } %>
                            </ul>
                        </div>
                        <div class="widget-category mb-30 d-none d-lg-block">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Sort
                                by</h5>
                            <ul class="categories">
                                <li><a href="/loginHome?sort=Newest">Newest
                                        added</a></li>
                                <li><a href="/loginHome?sort=InStock">In
                                        stock</a></li>
                                <li><a href="/loginHome?sort=OutOfStock">Out
                                        of stock</a></li>
                                <li><a href="/loginHome?sort=LowToHigh">Price:
                                        Low to High</a></li>
                                <li><a href="/loginHome?sort=HighToLow">Price:
                                        High to Low</a></li>
                            </ul>
                        </div>
                        <div class="widget-category mb-30 d-none d-lg-block">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Price
                                Range</h5>
                            <ul class="categories">
                                <li><a href="/loginHome?range=1">&#8377;0-&#8377;500</a></li>
                                <li><a href="/loginHome?range=2">&#8377;500-&#8377;1000</a></li>
                                <li><a href="/loginHome?range=3">&#8377;1000-&#8377;2000</a></li>
                                <li><a href="/loginHome?range=4">&#8377;2000-&#8377;3000</a></li>
                                <li><a href="/loginHome?range=5">&#8377;3000
                                        +</a></li>
                            </ul>
                        </div>
                        <div class="banner-img wow fadeIn mb-5mb-lg-0 animated d-lg-block d-none">
                            <img src="banner/portrait.jpg" style="border-radius: 20px;" alt>
                            <div class="banner-text" style="margin-top: -100px;">
                                <h5 style="color: white; margin: 20px; ">Referral Rewards</h5>
                                <h6 style="color: white; ">If you refer a friend, you get ₹100 <br> and your friend get
                                    ₹100</h6>

                                <% if(userData && typeof userData!=='undefined' ){ %>
                                    <br><br>
                                    <h5 style="color: white;">Your referreal code: <br>
                                        <br> "<%= userData.referralCode %>"
                                    </h5>

                                    <% }else { %>
                                        <h5 style="color: white;">Please login to see your referreal code </h5>
                                        <a style="color: white;" href="/login">Login Now <i
                                                class="fi-rs-arrow-right"></i></a>
                                        <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="tab-header" style="-ms-flex-item-align: right;">
                            <h3>Products:</h3>
                            <a href="/shop?categoryName=All Brands" class="view-more d-none d-md-flex">View all
                                products<i class="fi-rs-angle-double-small-right"></i></a>
                        </div>

                        <!-- Products Tab Content -->
                        <div class="tab-content wow fadeIn animated" id="myTabContent">
                            <div class="tab-pane fade show active" id="tab-one" role="tabpanel"
                                aria-labelledby="tab-one">
                                <% if (productsData && productsData.length> 0) { %>
                                    <!-- Product Grid -->
                                   
                                    <div class="row product-grid-4">
                                        <% for (let i=0; i < productsData.length; i++) { %>
                                            <% const product=productsData[i]; %>
                                                <% if (product.displayInHomePage=='Yes' ) { %>
                                                    <% const productCategoryName=product.category; %>
                                                        <% const matchingCategory=categoriesData.find(category=>
                                                            category.categoryName === productCategoryName); %>

                                                            <% if (matchingCategory && matchingCategory.isActive &&
                                                                product.isActive) { %>
                                                                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                                                    <div class="product-cart-wrap mb-30">
                                                                        <div class="product-img-action-wrap">
                                                                            <div class="product-img product-img-zoom">
                                                                                <a
                                                                                    href="/individualProductPage?_id=<%=product._id %>">
                                                                                    <% if (product.image &&
                                                                                        product.image.length> 1) { %>
                                                                                        <img class="default-img"
                                                                                            src="/<%= product.image[0] %>"
                                                                                            alt="">
                                                                                        <img class="hover-img"
                                                                                            src="/<%= product.image[1] %>"
                                                                                            alt="">
                                                                                </a>
                                                                                <% } else if (product.image &&
                                                                                    product.image.length> 0) { %>
                                                                                    <img class="default-img"
                                                                                        src="/<%= product.image[0] %>"
                                                                                        alt="">
                                                                                    <% } %>
                                                                            </div>

                                                                            <!-- Product Actions -->
                                                                            <div class="product-action-1">


                                                                                <a aria-label="Add To Wishlist"
                                                                                    class="action-btn hover-up"
                                                                                    id="addToWishlistBtn"
                                                                                    onclick="addToWishlist('<%= product._id %>','<%= product.productName %>', this, event)"
                                                                                    href="#">
                                                                                    <i class="fi-rs-heart"></i>
                                                                                </a>


                                                                            </div>

                                                                            <!-- Product Badges -->
                                                                            <div
                                                                                class="product-badges product-badges-position product-badges-mrg">
                                                                                <span class="hot">Latest </span>
                                                                            </div>
                                                                        </div>

                                                                        <!-- Product Content -->
                                                                        <div class="product-content-wrap">
                                                                            <div class="product-category">
                                                                                <a href="shop-grid-right.html">
                                                                                    <%= product.category %>
                                                                                </a>
                                                                            </div>
                                                                            <h2><a
                                                                                    href="/individualProductPage?_id=<%= product._id %>">
                                                                                    <%= product.productName %>
                                                                                </a>
                                                                            </h2>

                                                                            <div class="product-price">
                                                                                <span>&#8377; <%= product.salesPrice %>
                                                                                </span>
                                                                                <% if (product.regularPrice>
                                                                                    product.salesPrice) { %>
                                                                                    <span class="old-price">
                                                                                        &#8377; <%= product.regularPrice
                                                                                            %>
                                                                                    </span>
                                                                                    <% } %>

                                                                                        <% if (product.quantity <=0) {
                                                                                            %>
                                                                                            <span
                                                                                                style="color: red; font-size: 20px; float : right"
                                                                                                class="save-price  font-md color3 ml-15">
                                                                                                <strong>Out of
                                                                                                    Stock</strong>
                                                                                            </span>
                                                                                            <% } else { %>
                                                                                                <a href="#"
                                                                                                    style="float:right; font-size:16px; font-weight: 700;"
                                                                                                    onclick="addToCart('<%= product._id %>','<%= product.productName %>', this, event)"
                                                                                                    class="btn-cart">
                                                                                                    <i
                                                                                                        class="fi-rs-shopping-bag-add"></i>
                                                                                                    <span
                                                                                                        class="addToCartBtnText">Add
                                                                                                        to cart</span>
                                                                                                </a>
                                                                                                <% } %>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- End Single Product -->
                                                                <% } %>
                                                                    <% } %>
                                                                        <% } %>
                                    </div>
                                    <!-- End Product Grid -->

                                    <!-- View All Button -->
                                    <a href="/shop?categoryName=All Brands" class="btn">View all</a>

                                    <% } else { %>
                                        <!-- No Products Found -->
                                        <h2>No products found</h2>
                                        <a href="/loginHome" class="btn" style="margin: 20px;">View all</a>
                                        <% } %>

                                            <script>
                                                async function addToCart(productId, productName, clickedElement, event) {
                                                    try {
                                                        event.preventDefault();
                                                        const response = await fetch(`/cart?productId=${productId}`, { method: 'POST' });

                                                        if (!response.ok) {
                                                            throw new Error("Error adding product to cart");
                                                        }

                                                        const data = await response.json();

                                                        if (data.success) {
                                                            addToCartNotification(productName, `is added to cart`);
                                                            // Change the text of the button to "Added"
                                                            changeButtonText(clickedElement, productName);
                                                        } else {
                                                            console.error("Error adding product to cart", data.message);
                                                        }
                                                    } catch (error) {
                                                        console.error("Error adding product to cart", error);
                                                    }
                                                }

                                                function addToCartNotification(productName, action) {
                                                    Toastify({
                                                        text: `"${productName}"   ${action}`,
                                                        duration: 2000,
                                                        backgroundColor: "#283745",
                                                        position: 'right',
                                                    }).showToast();
                                                }

                                                async function addToWishlist(productId, productName, clickedElement, event) {
                                                    try {
                                                        event.preventDefault();
                                                        const response = await fetch(`/wishlist?productId=${productId}`, { method: 'POST' });

                                                        if (!response.ok) {
                                                            throw new Error("Error adding product to wishlist");
                                                        }

                                                        const data = await response.json();

                                                        if (data.success) {
                                                            addToWishlistNotification(productName, `is added to wishlist`);
                                                        } else {
                                                            console.error("Error adding product to wishlist", data.message);
                                                        }

                                                    } catch (error) {
                                                        console.error("Error adding product to wishlist", error);
                                                    }
                                                }

                                                function addToWishlistNotification(productName, action) {
                                                    Toastify({
                                                        text: `"${productName}"   ${action}`,
                                                        duration: 2000,
                                                        backgroundColor: "#289743",
                                                        position: 'right',
                                                    }).showToast();
                                                }

                                                // JavaScript for changing button text
                                                function changeButtonText(clicked, productName) {
                                                    // Check if the product is out of stock
                                                    if (clicked.parentElement.querySelector('.save-price')) {
                                                        return; // If out of stock, do nothing
                                                    }

                                                    // Modify the button content
                                                    clicked.innerHTML = `<a aria-label="Added To Cart" class="btn-cart" style="float:right; font-size:20px font-weight:700;" id="addToCartButton">
                                        <i class="fi-rs-shopping-bag-add"></i> Added</a>`;

                                                }
                                            </script>
                            </div>
                            <!-- End tab-one Content -->
                        </div>




                    </div>
                </div>
            </div>
        </section>
      
        
        <section class="banner-2 section-padding pb-0">
            <% if(b2 && b2.length >0 ){ %>
                <% for(let i = 0 ; i < b2.length; i++) { %>
            <div class="container">
                <div class="banner-img banner-big wow fadeIn animated f-none">
                    <img src="/<%= b2[i].bannerImages %>" style="border-radius: 10px;" alt>
                    <div class="banner-text d-md-block d-none">
                        <h4 class="mb-15 mt-40 text-brand"><%= b2[i].bannerText1 %></h4>
                        <h1 class="fw-600 mb-20" style="color: white;"> <%= b2[i].bannerText2 %></h1>
                        <h4 class="mb-15 mt-40 text-brand"><%= b2[i].bannerText3 %></h4>
                        <h3 class="fw-600 mb-20" style="color: white;"> <%= b2[i].bannerText4 %></h3>
                        
                    </div>
                </div>
            </div>
            <%  } %>
            <%  } %>
        </section>

        <section class="popular-categories section-padding mt-15">
            <div class="container wow fadeIn animated">
                <h3 class="section-title mb-20"><span>All</span>
                    Products </h3>
                <div class="carausel-6-columns-cover position-relative">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-arrows">
                    </div>
                    <div class="carausel-6-columns" id="carausel-6-columns">

                        <% if (productsData && productsData.length> 0) { %>
                            <% for (let i=0; i < productsData.length; i++) { %>
                                <div class="card-1">
                                    <figure class=" img-hover-scale overflow-hidden">
                                        <a href="/individualProductPage?_id=<%= productsData[i]._id %>"><img
                                                src="/<%=productsData[i].image[0] %>" alt></a>
                                    </figure>
                                    <h5><a href="/individualProductPage?_id=<%= productsData[i]._id %>">
                                            <%=productsData[i].productName %>
                                        </a></h5>
                                </div>
                                <% } %>
                                    <% } %>
                    </div>
                </div>
            </div>
        </section>

        <section class="deals section-padding">
            <div class="container">
                <div class="row">

                    <% if (b3 && b3.length > 0) { %>
                        <% for (let i = 0; i < b3.length; i++) { %>
                            <div class="col-lg-6 deal-co">
                                <div class="deal wow fadeIn animated mb-md-4 mb-sm-4 mb-lg-0" style="background-image: url('<%= b3[i].bannerImages %>');">
                                    <div class="deal-top">
                                        <h2 class="text" style="color: black;"><%= b3[i].bannerText1 %></h2>
                                    </div>
                                    <div class="deal-content">
                                        <h5 style="font-weight: 700;"><%= b3[i].bannerText2 %></h5>
                                        <h6 class="product-title" style="font-weight: 700;"><%= b3[i].bannerText3 %></h6>
                                        <div class="product-price" style="font-weight: 700;"> <%= b3[i].bannerText4 %> </div>
                                    </div>
                                    <div class="deal-bottom">
                                        <p style="font-weight: 700;">Hurry Up! Offer End In:</p>
                                        <div class="deals-countdown" data-countdown="<%= b3[i].bannerExpiryDate.toLocaleString() %>"></div>
                                        <a href="/shop?categoryName=All Brands" class="btn hover-up">Shop Now <i class="fi-rs-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                    

           
                     
                </div>
            </div>
        </section>


        <section class="section-padding">
            <div class="container pb-20">
                <h3 class="section-title mb-20 wow fadeIn animated"><span>Featured</span>
                    Brands</h3>
                <div class="carausel-6-columns-cover position-relative wow fadeIn animated">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-3-arrows">
                    </div>
                    <div class="carausel-6-columns text-center" id="carausel-6-columns-3">
                        <% if( categoriesData && categoriesData.length> 1) { %>
                            <% for(let i=0 ; i < categoriesData.length ; i++){ %>
                                <div class="brand-logo">
                                    <a href="/shop?categoryName=<%= categoriesData[i].categoryName %>">
                                        <img class="img-grey-hover" src="<%= categoriesData[i].categoryImage%>" alt>
                                    </a>

                                </div>
                                <% } %>
                                    <% } %>

                    </div>
                </div>
            </div>
        </section>
        <section class="bg-grey-9 section-padding">
            <div class="container pt-15 pb-25">
                <div class="heading-tab d-flex">
                    <div class="heading-tab-left wow fadeIn animated">
                        <h3 class="section-title mb-20"><span>Exciting</span>
                            Product Offers</h3>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-3 d-none d-lg-flex">
                        <div class="banner-img style-2 wow fadeIn animated">
                            <img src="/assets/9.jpg" alt>
                            <div class="banner-text">
                                <span style="color: white;">OFFER CLOSES SOON</span>
                                <a href="/shop?categoryName=All Brands">
                                    <h4 class="mt-5">Save money on <br>different products </h4>
                                </a>
                                <a style="color: white;" href="/shop?categoryName=All Brands"
                                    class="view-more d-none d-md-flex">View all
                                    <i class="fi-rs-angle-double-small-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-12">
                        <div class="tab-content wow fadeIn animated" id="myTabContent-1">
                            <div class="tab-pane fade show active" id="tab-one-1" role="tabpanel"
                                aria-labelledby="tab-one-1">
                                <div class="carausel-4-columns-cover arrow-center position-relative">
                                    <div class="slider-arrow slider-arrow-2 carausel-4-columns-arrow"
                                        id="carausel-4-columns-arrows"></div>
                                    <div class="carausel-4-columns carausel-arrow-center" id="carausel-4-columns">



                                        <% if(productsOffersData && productsOffersData.length>= 0){ %>
                                            <% for(let i=0; i < productsOffersData.length; i++) { %>
                                                <div class="product-cart-wrap">
                                                    <div class="product-img-action-wrap">
                                                        <div class="product-img product-img-zoom">
                                                            <a
                                                                href="/individualProductPage?_id=<%= productsOffersData[i]._id %>">

                                                                <img class="default-img"
                                                                    src="/<%= productsOffersData[i].image[0] %>" alt>
                                                                <img class="hover-img"
                                                                    src="/<%= productsOffersData[i].image[1] %>" alt>
                                                            </a>
                                                        </div>

                                                        <div
                                                            class="product-badges product-badges-position product-badges-mrg">
                                                            <span class="hot">
                                                                <%= productsOffersData[i].productOfferPercentage %>% Off
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="product-content-wrap">
                                                        <div class="product-category">
                                                            <a
                                                                href="/individualProductPage?_id=<%= productsOffersData[i]._id %>">Brand
                                                                : <%= productsOffersData[i].category %></a>
                                                        </div>
                                                        <h2><a
                                                                href="/individualProductPage?_id=<%= productsOffersData[i]._id %>">
                                                                <%= productsOffersData[i].productName %>
                                                            </a></h2>
                                                        <div class="rating-result" title="90%">
                                                            <span>
                                                                <span>70%</span>
                                                            </span>
                                                        </div>
                                                        <div class="product-price">
                                                            <span>₹<%= productsOffersData[i].salesPrice %></span>
                                                            <span class="old-price">
                                                                <% if( productsOffersData[i].salesPrice <
                                                                    productsOffersData[i].regularPrice ){ %>
                                                                    ₹<%= productsOffersData[i].regularPrice %>

                                                                        <% } %>

                                                            </span>
                                                            <small> &nbsp; &nbsp; Ends in </small>

                                                        </div>
                                                        <div>

                                                            <p style="font-size: 12px;"
                                                                data-countdown="<%= productsOffersData[i].productOfferExpiryDate.toLocaleString()  %>">
                                                            </p>
                                                        </div>

                                                    </div>
                                                </div>
                                                <% } %>
                                                    <% } %>


                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--End Col-lg-9-->
                    </div>
                </div>
        </section>
 
        <section class="home-slider position-relative">
            <% if (b5 && b5.length> 0) { %>
                <div class="hero-slider-1 style-2 dot-style-1 dot-style-1-position-1">
                   
                    <% for (let i=0; i < b5.length; i++) { %>
                        <div class="single-hero-slider single-animation-wrap">
                            <div class="container" style="margin-top: 100px;">
                                <div class="slider-1-height-2 slider-animated-1">
                                    <div class="hero-slider-content-2" style="background-image: url('/<%=b5[i].bannerImages %>'); background-size: cover; border-radius: 20px">
                                        <h5 class="animated" style="color: red;">
                                            <%=b5[i].bannerText1 %>
                                        </h5>
                                        <h2 >
                                            <%=b5[i].bannerText2 %> <span  style="color: red;">
                                                    <%= b5[i].bannerText3 %>
                                                </span>
                                                <%=b5[i].bannerText4 %>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
                <div class="slider-arrow hero-slider-1-arrow"></div>
                <% } %>
        </section>



        <section class="featured section-padding">
            <div class="container pb-25">
                <div class="row">
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="assets/imgs/theme/icons/feature-1.png" alt>
                            <h4 class="bg-1">Free Shipping</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="assets/imgs/theme/icons/feature-2.png" alt>
                            <h4 class="bg-3">Online Order</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="assets/imgs/theme/icons/feature-3.png" alt>
                            <h4 class="bg-2">Save Money</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="assets/imgs/theme/icons/feature-4.png" alt>
                            <h4 class="bg-4">Promotions</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="assets/imgs/theme/icons/feature-5.png" alt>
                            <h4 class="bg-5">Happy Sell</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="assets/imgs/theme/icons/feature-6.png" alt>
                            <h4 class="bg-6">24/7 Support</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="main">
        <section class="newsletter p-30 text-white wow fadeIn animated">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 mb-md-3 mb-lg-0">
                        <div class="row align-items-center">
                           
                        </div>
                    </div>
                    <div class="col-lg-5">
                      
                    </div>
                </div>
            </div>
        </section>
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <a href="/"><img src="assets/imgs/theme/logo.jpg" alt="logo"></a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong>562 Wellington
                                Road, Street 32, San Francisco
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>+01 2222 365 /(+91)
                                01 2345 6789
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>10:00 - 18:00, Mon -
                                Sat
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow
                                Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated">About</h5>
                        <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                            <li><a href="/aboutPage">About Us</a></li>
                            <li><a href="/privacyPolicy">Privacy Policy</a></li>
                            <li><a href="/purchaseGuide">Purchase Guide</a></li>
                            <li><a href="/termsPage">Terms &amp; Conditions</a></li>
                            <li><a href="/contactPage">Contact Us</a></li>
                         </ul>
                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated">My
                            Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a href="/login">Sign In</a></li>
                            <li><a href="/cart">View Cart</a></li>
                            <li><a href="/wishlist">My Wishlist</a></li>
                            <li><a href="/contactPage">Help</a></li>
                            <li><a href="/accountPage">Order</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="widget-title wow fadeIn animated">Install
                            App</h5>
                        <div class="row">
                            <div class="col-md-8 col-lg-12">
                                <p class="wow fadeIn animated">From App
                                    Store or Google Play</p>
                                <div class="download-app wow fadeIn animated">
                                    <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active"
                                            src="assets/imgs/theme/app-store.jpg" alt></a>
                                    <a href="#" class="hover-up"><img src="assets/imgs/theme/google-play.jpg" alt></a>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                                <p class="mb-20 wow fadeIn animated">Secured
                                    Payment Gateways</p>
                                <img class="wow fadeIn animated" src="assets/imgs/theme/payment-method.png" alt>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="banner-2 section-padding pb-0">
            <% if(b4 && b4.length>0 ){ %>
                <% for(let i=0 ; i < b4.length; i++) { %>
                    <div class="container">
                        <div class="banner-img banner-big wow fadeIn animated f-none">
                            <img src="/<%= b4[i].bannerImages %>" style="border-radius: 10px;" alt>
                            <div class="banner-text d-md-block d-none">
                                <h4 class="mb-15 mt-40 text-brand">
                                    <%= b4[i].bannerText1 %>
                                </h4>
                                <h1 class="fw-600 mb-20" style="color: white;">
                                    <%= b4[i].bannerText2 %>
                                </h1>
                                <h4 class="mb-15 mt-40 text-brand">
                                    <%= b4[i].bannerText3 %>
                                </h4>
                                <h3 class="fw-600 mb-20" style="color: white;">
                                    <%= b4[i].bannerText4 %>
                                </h3>

                            </div>
                        </div>
                    </div>
                    <% } %>
                        <% } %>
        </section>


        <div class="container pb-20 wow fadeIn animated">
            <div class="row">
                <div class="col-12 mb-20">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-lg-6">
                    <p class="float-md-left font-sm text-muted mb-0">&copy;
                        2022, <strong class="text-brand">Zigma
                            Smartwatches</strong> - HTML Ecommerce Template
                    </p>
                </div>
                <div class="col-lg-6">
                    <p class="text-lg-end text-start font-sm text-muted mb-0">
                        Designed by <a href="http://alithemes.com/" target="_blank">Alithemes.com</a>. All rights
                        reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Preloader Start -->
   <div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="text-center">
                <h5 class="mb-10">Welcome to Zigma Smartwatches</h5>
                <div class="loader">
                    <div class="bar bar1"></div>
                    <div class="bar bar2"></div>
                    <div class="bar bar3"></div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- Vendor JS-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="assets/js/plugins/jquery.theia.sticky.js"></script>
    <script src="assets/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="assets/js/maind134.js?v=3.4"></script>
    <script src="assets/js/shopd134.js?v=3.4"></script>
</body>

<!-- Mirrored from wp.alithemes.com/html/Zigma Smartwatches/Zigma Smartwatches-frontend/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->

</html>